---
layout: default
title : Publications
navbar_title: Sort
body_attr: >-
  data-spy="scroll" data-target="#navbar-year" data-offset="100"
---

{% assign pubs_by_type = site.publications | group_by: "type" | reverse %}
{% assign sorted_pubs_by_type = pubs_by_type | sort: "date"  %} <!-- 这里按照名称排序 -->

<div class="row">
    <div class="col-12 col-lg-10">
        {% for type_group in sorted_pubs_by_type %}
        {% assign type_name = type_group.name %}
        <h2 class="pt-4" id="type-{{ type_name }}">{{ type_name | capitalize }}</h2>
        <div class="my-0 p-0 bg-white shadow-sm rounded-sm">
            {% for item in type_group.items %}
                {% include widgets/publication_item.html item=item %}
            {% endfor %}
        </div>
        {% endfor %}
    </div>

    <div class="col-2 d-none d-lg-block">
        <div id="navbar-type" class="nav nav-pills flex-column sticky-top" style="top: 80px">
            {% for type_group in sorted_pubs_by_type %}
            <a class="nav-link d-block" href="#type-{{ type_group.name }}">{{ type_group.name | capitalize }}</a>
            {% endfor %}
        </div>
    </div>

</div>


