<footer class="footer">
    <div class="container">
        <div class="row my-3">
            <div class="col-6">
                <div class="text-muted">
                    <i>Last updated: {{ "now" | date: "%b %Y" }}</i>
                </div>
            </div>
            <div class="col-6">
                <div class="text-right text-muted">
                    {{ site.data.display.footer_text }}
                </div>
            </div>
        </div>
        <div class="row my-3">
            <div class="col-12">
                <div class="text-center text-muted">
                    Page visits: <span id="visit-count">Loading...</span>
                </div>
            </div>
        </div>
    </div>
</footer>

<script>
    // Netlify Function URL
    const apiUrl = '/.netlify/functions/increment';

    // Fetch the visit count from the Netlify Function
    fetch(apiUrl, { method: 'POST' }) // POST request to increment the count
        .then(response => response.json())
        .then(data => {
            // Display the visit count
            document.getElementById('visit-count').textContent = data.visits;
        })
        .catch(error => {
            console.error('Fetch error:', error);
            document.getElementById('visit-count').textContent = 'Error loading visit count';
        });
</script>
