<footer class="footer">
    <div class="container">
        <div class="row my-3">
            <div class="col-6">
                <div class="text-muted" style="line-height: 1.5; vertical-align: middle;">
                    <i>Last updated: {{ "now" | date: "%b %Y" }}</i>
                </div>
            </div>
            <div class="col-6 text-right">
                <div style="line-height: 1.5; vertical-align: middle;">
                    <!-- 仅在指定页面显示计数器 -->
                    {% if page.url == "/" %}
                    <span class="text-muted">Number of visits: </span>
                    <script type="text/javascript" src="//counter.websiteout.com/js/4/8/150/1"></script>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</footer>
