<nav class="navbar navbar-expand-sm navbar-light bg-light fixed-top mb-5 shadow-sm">
    <div class="container">
        <a class="navbar-brand"><strong>{{site.data.profile.navbar_name}}</strong></a>
        <button class="navbar-toggler" style="font-size: 1em; padding: 0.5em;" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-map"></i> Menu
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <!-- 判断当前页面是否是 publications -->
                {% if item.name == "Publications" %}
                <li class="nav-item">
                    <a class="nav-link" href="/xiaojiangchen.github.io">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/sort">Sort</a>
                </li>
                <!-- 判断当前页面是否是 sort -->
                {% elsif item.name == "Sort" %}
                <li class="nav-item">
                    <a class="nav-link" href="/xiaojiangchen.github.io">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/publications">Publications</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="/xiaojiangchen.github.io">Home</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

